body {
    direction: rtl;
    line-height: 30PX;
    background-image: url('../images/רקע.jpg');
}

h1{
    text-align: center;

    font-family: Tahoma;
    font-size: 50PX;
    margin: 30PX;
    margin: 40PX;

}

#container {
    border: 10PX solid purple;
    background-image: url('../images/רקע3.jpg');
}

#shovalp {
    background-image: url('../images/20170114_150714.jpg');
      background-size:160PX;
    width:150PX;
    height: 90PX;
   background-repeat: no-repeat;
   margin: 20PX;
}




#facebook {
    background-image: url('../images/facebook.jpeg');
    background-size:30PX;
    width:90PX;
    height: 60PX;
    background-repeat: no-repeat;
    -webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;
}

#facebook:hover {
    background-image: url('../images/facebook.jpeg');
    background-size:60PX;
    width:100PX;
    height: 60PX;
    background-repeat: no-repeat;
}

#facebook:active {
    background-image: url('../images/facebook.jpeg');
    background-size:60PX;
    width:100PX;
    height: 60PX;
    background-repeat: no-repeat;
    border: 15PX purple solid;
    
}

#youtube {
    background-image: url('../images/youtube.jpeg');
    background-size: 60PX;
    width: 100PX;
    height: 60PX;
    background-repeat: no-repeat;
    -webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;
}

#youtube:hover {
    background-image: url('../images/youtube.jpeg');
    background-size: 90PX;
    width: 100PX;
    height: 60PX;
    background-repeat: no-repeat;

}

#youtube:active {
    background-image: url('../images/youtube.jpeg');
    background-size: 60PX;
    width: 190PX;
    height: 60PX;
    background-repeat: no-repeat;
    border: 15PX purple solid;
    
}

#gmail {
    background-image: url('../images/gmail-logo.jpg');
    background-size: 50PX;
    width: 90PX;
    height: 60PX;
    background-repeat: no-repeat;
    -webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;
}

#gmail:hover {
    background-image: url('../images/gmail-logo.jpg');
    background-size: 80PX;
    width: 100PX;
    height: 60PX;
    background-repeat: no-repeat;
}

#gmail:active {
    background-image: url('../images/gmail-logo.jpg');
    background-size: 50PX;
    width: 100PX;
    height: 60PX;
    background-repeat: no-repeat;
    border: 15PX purple solid;
}




#container{
    width:960PX;
    margin:0 auto;
    

}

.second{

    color:mediumpurple;
    background-position: 30PX 40PX;
    
}

.style{


    color: purple;
    
    font-size: 30PX;
   
    font-weight: bold;
}
.style1{

    width: 500PX;
    height: 28PX;
    background-color: plum;
    color: black;
    font-family: Tahoma;
    margin: 30PX; 



}

#bold1{


    font-weight: bold;
}

#years{

    text-decoration: underline;
}

h2>p { 

    font-family: Arial;
    margin:30PX;
}   
    
#nav1{

    margin: 20PX 40PX;
}

ul{
list-style: none;
    
}


#nav1 ul li{

display: inline-block;

float: right;
}

#nav1 ul li a{

display:block;
background-color: palevioletred;
color: white;
width: 120PX;
height: 60PX;
padding-top: 10PX;
text-decoration: none;
text-align: center;
font-size: 20PX;


}

 #nav1 ul li a:hover {
                background-color: #3097D2;
            }

            #nav1 ul li a:active {
                background-color: #9b33dd;
            }


        #nav1 ul li ul {
            display: none;
            position: absolute;
        }

          #nav1 ul li ul li a {
            background-color:#a26dce;
        }

        #nav1 ul li:hover ul {
            display: block;
            width: 120px;
        }
